.offer-main-container {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.offer-container {
   flex: 1;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.offer-person-image {
   height: 100%
}

@media only screen and (max-width: 900px) {
   .offer-main-container {
      position: relative;
   }
   .offer-person-image {
      position: absolute;
      height: 100%;
      opacity: 0.6;
      transform: translateX(10%);
      -o-transform: translateX(10%);
      -ms-transform: translateX(10%);
      -moz-transform: translateX(10%);
      -webkit-transform: translateX(10%);
   }
   .offer-container {
      z-index: 1;
      width: 100%;
      flex-direction: column;
      align-items: center;
   }
}