.body {
   background: #023D69;
   border-radius: 10px;
   padding: 20px;
   cursor: pointer;
   text-decoration: none;
}

.white {
   background-color: white;
}

.body:hover {
   opacity: 0.5;
}

.title {
   display: block;
   text-align: center;
   color: white;
   font-weight: bold;
   font-size: 2rem;
}

.white .title {
   color: #023d69
}