@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kanit&family=Ubuntu&display=swap');

.page {
   min-width: 100vw;
}
.images-container {
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-around;
   opacity: 0.8;
}

.text-container {
   width: 100%;
   position: absolute;
   text-align: center;
   top: 50%;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   color: #023D69;
}

.text-container h1 {
   font-size: 6rem;
}

.text-container h3 {
   font-size: 3rem;
}
