.contact-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #023d69;
}

.logo-image {
   width: 20vw;
}

.social-media-container {
   display: flex;
   flex-direction: row;
}

.social-media-logo {
   width: 5vw;
   margin: 10px;
}

