.page-header {
   text-align: center;
   color: #023D69;
   font-size: 6rem;
   margin: 0;
   padding-top: 20px;
   padding-bottom: 20px;
}

.blue-header {
   background-color: #023D69;
   color: white;
}